.actionButton {
	background-color: var(--color-forest-green);
	border: 0;
	padding: 1rem 2rem;
	border-radius: 3rem;
	display: inline-block;
	justify-content: center;
	align-items: center;
	color: var(--color-light-cyan);
	font-size: 1rem;
	letter-spacing: 0.2rem;
	line-height: 2.6rem;
	transition: all 0.3s ease;
	white-space: nowrap;
	width: fit-content;
}

.actionButton:hover {
	cursor: pointer;
	background-color: var(--color-green-success);
}

@media (min-width: 1024px) {
	.actionButton {
		font-size: 1.2rem;
	}
}
