:root {
	--color-black-olive: #34403a;
	--color-cal-poly-green: #285238;
	--color-forest-green: #138a36;
	--color-green-success: #49bd59;
	--color-spring-green: #18ff6d;
	--color-black-olive: #1f271b;
	--color-light-cyan: #d4f5f5;
	--color-yellow-highlight: #ecffd1;
	--color-text-neutral: #3f3f3f;

	font-family: 'Montserrat', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	overflow-x: hidden;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
	padding: 0;
	margin: 0;
}

.container {
	min-width: 320px;
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}

.fullWidthContainer {
	width: 100vw;
}

.fullHeightContainer {
	height: 100vh;
}

li {
	list-style: none;
}

.flexCentered {
	display: flex;
	justify-content: center;
	align-items: center;
}

section {
	width: 100vw;
	height: 100vh;
}

.sectionTitle h2 {
	font-size: 1.75;
	font-weight: 600;
	margin-bottom: 1rem;
}

.sectionTitle p {
	color: var(--color-text-neutral);
	font-size: 1rem;
	line-height: 1.6rem;
}

@media screen and (min-width: 1024px) {
	.sectionTitle h2 {
		font-size: 3.75rem;
	}
}
