.contactContainer {
	margin: 5rem 10px;
	display: flex;
	flex-direction: column;
}

.titleSection {
	width: 100%;
	text-align: left;
	margin-bottom: 1rem;
}

.contactTitle h2 {
	font-size: 2.4rem;
}

.formDisplay {
	width: 90%;
	text-align: left;
	margin: 10px;
}

.formDisplay p {
	color: var(--color-text-neutral);
	padding-left: 20px;
	margin: 1rem;
}

@media screen and (min-width: 1024px) {
	.contactContainer {
		flex-direction: row-reverse;
	}

	.titleSection {
		width: 40%;
		text-align: left;
		margin-right: 5rem;
	}

	.formDisplay {
		width: 100%;
	}
}
