/* Hamburguer Menu */

button {
	color: #d9d9d9;
}

.hamburguer {
	cursor: pointer;
	width: 24px;
	height: 24px;
	transition: all 0.25s;
	position: relative;
	border: 0;
	background-color: rgba(0, 0, 0, 0);
}

.hamburguerTop,
.hamburguerMiddle,
.hamburguerBottom {
	position: absolute;
	top: 6px;
	right: 0;
	width: 24px;
	height: 2px;
	background-color: #d9d9d9;
	transform: rotate(0);
	transition: all 0.5s;
}

.hamburguerMiddle {
	transform: translateY(7px);
}

.hamburguerBottom {
	transform: translateY(14px);
}

.open {
	transform: rotate(90deg);
	transform: translateY(0px);
}

.open .hamburguerTop {
	transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburguerMiddle {
	display: none;
}

.open .hamburguerBottom {
	transform: rotate(-45deg) translateY(6px) translate(-6px);
}

@media screen and (min-width: 1024px) {
	.hamburguer {
		display: none;
	}
}
